<div class="card">
  <div (click)="openDialog()">
    <div class="card-img">
      <img class="image" [src]="imageLink" />
    </div>

    <!-- <div class="card-desc">
      <ais-highlight attribute="Asset Name" [hit]="hit"></ais-highlight>
      <div class="item-description">
        <p class="side-heading">Category:</p>
        <ais-highlight attribute="Category" [hit]="hit"></ais-highlight>
      </div>
      <div class="item-description">
        <p class="side-heading">Flavor :</p>
        <ais-highlight attribute="Flavor" [hit]="hit"></ais-highlight>
      </div>
      <div class="item-description">
        <p class="side-heading">Segment :</p>
        <ais-highlight attribute="Segment" [hit]="hit"></ais-highlight>
      </div>
      <div class="item-description">
        <p class="side-heading">Brand :</p>
        <ais-highlight attribute="Brand" [hit]="hit"></ais-highlight>
      </div>
      <div class="item-description rating">

      <div class="item-description">
        <p class="side-heading">Rating :</p>
        <p>{{ hit.Rating }}/5</p>
      </div>
    </div> -->
    <div class="card-desc">
      <ais-highlight attribute="Asset Name" [hit]="hit"></ais-highlight>
      <div class="item-description">
        <p class="side-heading">Brand :</p>
        <ais-highlight attribute="Brand" [hit]="hit"></ais-highlight>
      </div>
      <div class="item-description">
        <p class="side-heading">Product Line :</p>
        <ais-highlight attribute="Product Line" [hit]="hit"></ais-highlight>
      </div>
      <div class="item-description">
        <p class="side-heading">Department :</p>
        <ais-highlight attribute="Department" [hit]="hit"></ais-highlight>
      </div>
      <div class="item-description">
        <p class="side-heading">Type :</p>
        <ais-highlight attribute="Asset Type" [hit]="hit"></ais-highlight>
      </div>
      <div class="item-description">
        <p class="side-heading">Sub-Type :</p>
        <ais-highlight attribute="Asset Sub Type" [hit]="hit"></ais-highlight>
      </div>
      <div class="item-description">
        <p class="side-heading">Tag :</p>
        <ais-highlight attribute="Tag" [hit]="hit"></ais-highlight>
      </div>
      <div class="item-description">
        <p class="side-heading">Imported Date :</p>
        <ais-highlight attribute="Date: Imported" [hit]="hit"></ais-highlight>
      </div>
      <div class="item-description">
        <p class="side-heading">File Type :</p>
        <ais-highlight attribute="File Type" [hit]="hit"></ais-highlight>
        <p class="side-heading">Rating :</p>
        <p>{{ hit.Rating }}/5</p>
      </div>
    </div>
  </div>
</div>
