<div class="container">
  <div class="close-container">
    <button mat-button color="white" ngClass="close-button">
      Download
      <mat-icon>download</mat-icon>
    </button>
    <button mat-button class="close-button" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-container">
    <div class="left-panel">
      <img [src]="imageLink" class="image" />
      <h1 class="main-heading">{{ hitData["Asset Name"] | titlecase }}</h1>
    </div>
    <div class="right-panel">
      <div class="contents">
        <div class="content">
          <p class="heading">Brand :</p>
          <h3 class="description">{{ hitData["Brand"] }}</h3>
        </div>
        <div class="content">
          <p class="heading">Product Line :</p>
          <h3 class="description">{{ hitData["Product Line"] }}</h3>
        </div>
        <div class="content">
          <p class="heading">Department :</p>
          <h3 class="description">{{ hitData["Department"] }}</h3>
        </div>
        <div class="content">
          <p class="heading">Asset Type :</p>
          <h3 class="description">{{ hitData["Asset Type"] }}</h3>
        </div>
        <div class="content">
          <p class="heading">Asset Sub Type :</p>
          <h3 class="description">{{ hitData["Asset Sub Type"] }}</h3>
        </div>
        <div class="content">
          <p class="heading">Year :</p>
          <h3 class="description">{{ hitData["Year"] }}</h3>
        </div>
        <div class="content">
          <p class="heading">Ratings :</p>
          <h3 class="description">{{ hitData["Rating"] }}</h3>
        </div>
        <div class="content">
          <p class="heading">Tags :</p>
          <h3 class="description">{{ hitData["Tag"] }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
