<div class="card">
  <div (click)="openDialog()">
    <div class="card-img">
      <img class="image" [src]="imageLink" />
    </div>
    <div class="card-desc">
      <div class="tag">
        <ais-highlight attribute="Asset Name" [hit]="hit"></ais-highlight>
      </div>
      <div class="item-description">
        <p class="side-heading">Brand :</p>
        <ais-highlight attribute="Brand" [hit]="hit"></ais-highlight>
      </div>
      <div class="item-description">
        <p class="side-heading">Product Line :</p>
        <ais-highlight attribute="Product Line" [hit]="hit"></ais-highlight>
      </div>
      <div class="item-description">
        <p class="side-heading">Department :</p>
        <ais-highlight attribute="Department" [hit]="hit"></ais-highlight>
      </div>
      <div class="item-description">
        <p class="side-heading">Type :</p>
        <ais-highlight attribute="Asset Type" [hit]="hit"></ais-highlight>
      </div>
      <div class="item-description">
        <p class="side-heading">Sub-Type :</p>
        <ais-highlight attribute="Asset Sub Type" [hit]="hit"></ais-highlight>
      </div>
      <div class="item-description">
        <p class="side-heading tag">Tag:</p>
        <ais-highlight
          class="asset-name"
          attribute="Tag"
          [hit]="hit"
        ></ais-highlight>
      </div>
      <div class="item-description">
        <p class="side-heading">Imported Date :</p>
        <ais-highlight attribute="Date: Imported" [hit]="hit"></ais-highlight>
      </div>
      <hr />
      <div class="item-description-bottom">
        <div class="star-rating">
          <p class="side-heading">File Type :</p>
          <ais-highlight attribute="File Type" [hit]="hit"></ais-highlight>
        </div>
        <div class="star-rating">
          <p class="side-heading">Rating :</p>
          <p *ngIf="hit.Rating === 1">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </p>

          <p *ngIf="hit.Rating === 2">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </p>
          <p *ngIf="hit.Rating == 3">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </p>
          <p *ngIf="hit.Rating == 4">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </p>
          <p *ngIf="hit.Rating === 5">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </p>
          <p>{{ hit.Rating }}/5</p>
        </div>
      </div>
    </div>
  </div>
</div>
